.projects-carousel {
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #34495e, #2c3e50); /* Darker Blue to Midnight Blue */
  color: #ecf0f1; /* Light text color */
  text-align: center;
  transition: background-color 0.3s ease;
}

.projects-carousel h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(45deg, #8e44ad, #2980b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  scroll-behavior: smooth;
}

.project-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2rem;
  text-align: left;
  min-width: 300px;
  scroll-snap-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  flex-grow: 1;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-card p {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 1.5rem;
}

.project-link {
  color: #8e44ad; /* Burgundy Red */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.project-link:hover {
  color: #2980b9; /* Royal Blue */
  transform: scale(1.05);
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .carousel {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
    margin-bottom: 2rem;
  }
}