.skills-section {
  padding: 4rem 2rem;
  background: #34495e; /* Darker Blue */
  color: #ecf0f1; /* Light text color */
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  background: -webkit-linear-gradient(45deg, #8e44ad, #2980b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeInDown 1s ease-in-out;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill img {
  width: 100px;
  height: auto; 
  margin-bottom: 0.5rem;
}

.skill-name {
  font-size: 1.2rem;
  color: #ecf0f1; /* Light text color */
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    gap: 1rem;
  }

  .skill img {
    width: 80px; /* Adjust size for mobile */
  }

  .skill-name {
    font-size: 1rem;
  }
}